<script src="scripts.js"></script>

<div class="jumbotron">
  <button class="btn btn-warning btn-lg" ng-click="TimerFactory.playSoundtrack()" name="Music">Music</button>
  <button class="btn btn-success btn-lg" id="timerStart" ng-click="showme=true; TimerFactory.countdown()">Start</button>
</div>
<div class="row">
  <div class="col-xs-7">
    <div ng-show="showme">
      <hr>
      <table class="board">
        <!-- playing board -->
        <tr ng-repeat="row in TimerFactory.board.rows">
          <td class="animated" ng-repeat="dot in row.dots" ng-mouseenter="TimerFactory.mouseEnter(dot); TimerFactory.checkForSquare(dot)" ng-mousedown="TimerFactory.addClick(dot)" ng-mouseup="TimerFactory.mouseUp(dot)">
            <img class="animated slideInDown" ng-if="dot.color=='red' && dot.hasDot" src="images/red.svg" height=40px>
            <img class="animated slideInDown" ng-if="dot.color=='orange' && dot.hasDot" src="images/orange.svg" height=40px>
            <img class="animated slideInDown" ng-if="dot.color=='yellow' && dot.hasDot" src="images/yellow.svg" height=40px>
            <img class="animated slideInDown" ng-if="dot.color=='green' && dot.hasDot" src="images/green.svg" height=40px>
            <img class="animated slideInDown" ng-if="dot.color=='blue' && dot.hasDot" src="images/blue.svg" height=40px>
          </td>
        </tr>
      </table>
      <div>
        <h1>Current Score: {{TimerFactory.score}}</h1>
      </div>
    </div>
  </div>
  <div class="col-xs-5" ng-show="showme">
    <div class="timer" data-timer = "30">
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
</div>
