img {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.timer {
  height: auto;
  width: 100%;
}
body {
  background-image: url(../images/jackdaw-569330.jpg);
  background-size: cover;
  background-blend-mode: difference;
  background-color: black;
}
h1 {
  color: white;
}
.jumbotron h1 {
  color: white;

}
.jumbotron {
background-color: transparent;
}
.rules {
  color: white;
  font-size: 20px;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
#timer-value{
  color: white;
  font-size: 600%;
}
